@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&family=Quicksand:wght@300&display=swap');
html{
    font-family: 'Quicksand', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 300;

}

.item img:hover{
    transform: scale(1.05);
    transition: all ease ;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(136, 219, 140);
}

.intro {
	text-align:  center;
}


.profile-picture {
	border-radius: 50%;
	width:  150px;
	height: 150px;
	box-shadow: 0 4px 6px 0 rgb(34, 60, 80, 0.16); 
	transition: all ease-in-out .2s;
}

.profile-picture:hover{
	box-shadow: 0 8px 12px 0 rgb(34, 60, 80, 0.16);
}